* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: #000;
  display: flex;
  font-size: 1.6rem;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

#wrapper {
  position: relative;

  #root {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  canvas {
    display: block;
  }
}
